@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

input, textarea {
    width: 100%;
}

body {
    background: url(Asset\ 8-100.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 50px;
}

nav ul {
    margin-top: 16px;
}


nav ul li {
    display: inline-block;
    margin-right: 30px;
    color: #fff;
}

a.logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 35px;
}

a {
    text-decoration: none;
}


.nav-bar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: #fff;
}

.active::after {
    content: '';
    height: 3px;
    background: rgb(238,56,219);
    background: linear-gradient( to right, rgba(238,56,219,1) 0%, rgba(80,228,255,1) 100%);
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
}

nav ul li a:after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(238,56,219);
    background: linear-gradient( to right, rgba(238,56,219,1) 0%, rgba(80,228,255,1) 100%);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}


ul li a:hover::after {
    width: 100%;
}

header i {
    font-size: 20px;
    color: #fff;
}


.hamburger {
    display: none;
}

i {
    margin: 8px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    font-size: 18px;
}

i:hover {
    color: rgb(238,56,219);
    color: linear-gradient( circle, rgba(238,56,219,1) 0%, rgba(80,228,255,1) 100%);
}

.container {
    width: 60%;
    padding: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
    
}

.row {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.col-md-7 {
    padding: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid #fff;
}

.col-md-5 {
    background: white;
    padding: 20px;
    color: black;
    
}

input {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;

}

.bi {
    font-size: 20px;
}

.d-flex p {
    font-size: 18px;
    padding-left: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

@media screen and (max-width:600px){
    .container{
        width: 100%;
        position: absolute;
        left: 50%;
        top: 90%;
    }
}


@media screen and (max-width: 960px) {
    .profile {
        flex: 100%;
        max-width: 100%;
    }

    section {
        margin-top: 100px;
        margin-bottom: 30px;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100vh;
    }

    body {
        background-attachment: scroll;
    }
}

@media (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media (max-width: 952px) {

    .container {
        margin: 10% 3%;
    }

    .container h1{
        font-size: 35px;
    }

    .container p {
        font-size: 12px;
        max-width: 450px;
    }

    a.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    i.fa-bars, #check {
        display: block;
    }

    .icons {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
        font-weight: bold;
        
    }

    header {
        padding: 20px 0;
    }

    nav {
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        width: 100vw;
        background: black;
        backdrop-filter: blur(200px);
        border: 2px solid #fff;
        transition: .5s;
        display: block;
        height: 0;
        overflow: hidden;
        z-index: 9999;
    }

    nav.active {
        height: 500px;
        backdrop-filter: blur(20px);
    }

    nav.active ul li {
        opacity: 1;
    }

    nav ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }
    

    nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 12px;
        opacity: 0;
        margin: 30px 0;
    }
    
}

@media (max-width: 600px) {
    .container p {
        font-size: 12px;
        max-width: 330px;
    }

}